$pri: #F4F4F4;
$sec: #0C2B4E;
$tri: #1A3D64;
$quad: #1D546C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $sec;
    color: $pri;
    font-family: system-ui;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .user-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        input {
            width: 250px;
            padding: 0.8rem 1rem;
            border-radius: 0.5rem;
            background-color: $quad;
            border: 1px solid $tri;
            color: $pri;
            font-size: 1.1rem;

            &::placeholder {
                color: #a8a8a8;
            }

            &:focus {
                outline: none;
            }
        }

        .enter-btn {
            padding: 0.8rem 1.5rem;
            font-size: 1.01rem;
            font-weight: 600;
            background-color: $sec;
            color: $pri;
            border: 1px solid $quad;
            box-shadow: 3px 3px 0 $quad;
            transition: all 0.1s ease;

            &:active {
                transform: translate(3px, 3px);
                box-shadow: none;
                background-color: $quad;
            }
        }
    }
}

.container {
    display: none;
    flex-direction: column;
    background-color: $tri;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 16px #0000001c;
    border: 1px solid $sec;

    .display-timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .status {
            background-color: $quad;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            box-shadow: 0 1px 8px #0000001c;
            font-weight: 500;
        }

        h1 {
            font-size: 6rem;
            font-weight: 900;
        }

    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        button {
            padding: 0.5rem 1.5rem;
            font-size: 1.01rem;
            font-weight: 600;
            background-color: $sec;
            color: $pri;
            border: 1px solid $quad;
            box-shadow: 3px 3px 0 $quad;
            transition: all 0.1s ease;

            &:active {
                transform: translate(3px, 3px);
                box-shadow: none;
                background-color: $quad;
            }
        }

        .clicked {
            transform: translate(3px, 3px);
            box-shadow: none;
            background-color: $quad;
        }
    }
}