$blackColor: #000;
$backgroundColor: rgb(253, 251, 245);
$color2: #191919;

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Syne:wght@400..800&display=swap');

@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

@font-face {
    font-family: 'satoshi';
    src: url('../fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'satoshi italic';
    src: url('../fonts/Satoshi-VariableItalic.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0.8rem;
    background-color: $backgroundColor;
    font-family: 'satoshi';
}

h1 {
    font-family: 'syne';
    font-weight: 500;
}

a {
    text-decoration: none;
}

@media (max-width:430px) {

    main {
        border: 1px solid;
        padding: 0 1.2rem;
    }

    header {
        width: 100%;
        padding: 1.2rem;

        .logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1.2rem;
            padding-bottom: 0.8rem;
            border-bottom: 1px solid;

            .square {
                width: 3.2rem;
            }

            .logo {
                width: 4.2rem;
            }
        }
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1.2rem 0;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: 60%;

            p {
                font-size: 1rem;
                font-weight: 400;
            }

            h1 {
                line-height: 1;
                font-weight: 500;
                font-size: 4rem;
            }
        }

        .background {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 15px;
                margin-top: 1.5rem;
            }
        }

    }

    .values-section {
        width: 100%;

        .values-container {
            display: flex;
            flex-direction: column;

            img {
                width: 4rem;
            }

            .left-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: 1px solid;
                gap: 2rem;
                padding-bottom: 2rem;

                .text {
                    line-height: 3;
                    h1 {
                        font-size: 3rem;
                        line-height: 1;
                    }
                }

                a {
                    padding: 0.4rem 1.2rem;
                    color: $backgroundColor;
                    background-color: #191919;
                    width: fit-content;
                    border-radius: 0.4rem;
                    letter-spacing: 1;
                    font-size: 1rem;
                }
            }

            .right-side {
                display: flex;
                flex-direction: column;
                .text {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5;
                    padding: 2rem 0;
                    border-bottom: 1px solid;

                    h1{
                        font-size: 2rem;
                    }
                }

                .text:nth-child(3){
                    border: none;
                }
            }
        }
   }
}


@media (min-width :1024px) {
    body {
        padding: 1rem;
    }

    main {
        width: 100%;
        border: 1px solid;
    }

    header {
        width: 100%;
        padding: 2rem 2rem;

        .logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1.2rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid;

            .square {
                width: 3.2rem;
            }

            .logo {
                width: 4.5rem;
            }
        }
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.8rem;
        padding: 2rem;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            gap: 1rem;

            p {
                font-size: 1rem;
                font-weight: 400;
            }

            h1 {
                line-height: 1;
                font-weight: 500;
                font-size: 7rem;
                font-family: 'syne';
            }
        }

        .background {
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 2/1;
                object-fit: cover;
                border-radius: 15px;
            }
        }

    }

    .values-section {
        width: 100%;
        padding: 0rem 3rem;

        .values-container {
            border-bottom: 1px solid;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            padding: 3rem 0rem;

            img {
                width: 4rem;
            }
        }

        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-right: 1px solid;

            .text {
                h1 {
                    font-size: 6rem;
                    line-height: 1;
                }

            }

            a {
                padding: 0.4rem 1.2rem;
                color: $backgroundColor;
                background-color: #191919;
                width: fit-content;
                border-radius: 0.4rem;
                letter-spacing: 1;
                font-size: 1rem;
            }
        }

        .right-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0rem 1rem 0 3rem;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;
                border-bottom: 1px solid;
                padding: 2.5rem 0;

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.1rem;
                    line-height: 1.5;
                }
            }

            .text:nth-child(3) {
                padding-bottom: 0;
                border: none;
            }

            .text:nth-child(1) {
                padding-top: 0;
            }
        }
    }

    .team-section {
        width: 100%;
        padding: 0 3rem;
        .team-container {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1.1fr 2fr;
            padding: 3rem 0;
            border-bottom: 1px solid;    
            
            .left-side {
                display: flex;
                border-right: 1px solid;
                width: 100%;
                
                .text {
                    display: flex;
                    flex-direction: column;
                    position: sticky;
                    top: 2rem;
                    height: fit-content;
                    h1{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
            
            .right-side {
                display: grid;
                grid-template-rows: repeat(2,1fr);
                grid-template-columns: repeat(2,1fr);
                padding-left: 3rem;
                gap: 3rem;

                .card {
                    width: 100%;
                    height: 100%;

                    .video-container {
                        width: 100%;
                        video{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            aspect-ratio: 2.4/1.5;
                            border-radius: 16px;
                        }
                    }
                }
            }
        }
    }
}