@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
    background-color: white;
    color: #242424;
}

.dark {
    background-color: #242424;
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
}