@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.ttf');
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

$bg-dark: hsl(0 0% 0%);
$bg-light: hsla(0, 0%, 20%);
$bg-muted: hsl(0 0% 10%);
$text: hsl(0 0% 100%);
$bg-very-light: hsl(0 0% 70%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $bg-dark;
    color: $text;
    font-family: 'satoshi';
}

.card-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;

    .card {
        width: fit-content;
        height: min-content;
        padding: 0.5rem;
        z-index: 5;
        background-color: $bg-muted;
        border-radius: 24px;
        border: 1px solid $bg-light;
        z-index: 999;


        .card2 {
            position: relative;
            width: max-content;
            border-radius: 20px;
            border: 1px solid hsla(0, 0%, 40%);
            overflow: hidden;
            z-index: 99;

            img {
                border-radius: 20px;
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/2;
                top: 0;
                left: 0;
                z-index: -1;
                pointer-events: none;
            }

            .content-container {
                padding: 300px 1rem 1rem 1rem;
                @include flex-center;
                overflow: hidden;

                .blur-bg {
                    position: absolute;
                    width: 100%;
                    height: 45%;
                    bottom: 0;
                    left: 0;
                    backdrop-filter: blur(15px);
                    transform: translate(0, 10%);
                    opacity: 0;
                    mask: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.99) 30%, rgba(255, 255, 255, 0.99) 70%, rgba(255, 255, 255, 0.99) 85%, rgba(255, 255, 255, 0.65) 95%, rgba(255, 255, 255, 0) 100%);
                    z-index: -1;
                    transition: opacity 0.5s ease;
                }

                &:hover {
                    .content {
                        transform: translate(0, 0);
                        opacity: 1;
                    }

                    .blur-bg {
                        opacity: 1;
                    }
                }

                .content {
                    @include flex-center-column;
                    align-items: flex-start;
                    width: 100%;
                    gap: 1.5rem;
                    transform: translate(0, 50%);
                    opacity: 0.1;
                    position: relative;
                    transition: transform 0.3s ease,
                        opacity 0.3s ease;

                    .info-container {
                        @include flex-center-column;
                        align-items: flex-start;
                        gap: 8px;

                        .info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                        }


                    }
                }

                &.active {
                    .content {
                        transform: translate(0,0);
                        opacity: 1;
                    }

                    .blur-bg {
                        opacity: 1;
                    }
                }

                .social-container {
                    @include flex-center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 1rem;

                    .social {
                        @include flex-center;
                        justify-content: flex-start;
                        gap: 16px;
                        width: 100%;

                        .followers,
                        .posts {
                            @include flex-center;
                            gap: 5px;
                        }
                    }

                    .btn {
                        @include flex-center;
                        padding: 0.5rem 1.1rem;
                        font-size: 1rem;
                        font-weight: 600;
                        border: none;
                        border-radius: 50px;
                        background-color: $text;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: $bg-very-light;
                        }
                    }
                }
            }


        }
    }
}

// body {
//     padding: 2rem;
//     @include flex-center;
//     height: fit-content;
// }

// .container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     gap: 2rem;
//     flex-wrap: wrap;
//     pointer-events: none;

//     .card-wrapper {
//         height: fit-content;
//         padding: 8px;
//         background-color: hsl(0 0% 10%);
//         border-radius: 42px;
//         border: 1px solid hsla(0, 0%, 15%, 1);
//         z-index: 3;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 24px;
//         flex-wrap: wrap;

//         .card {
//             position: relative;
//             @include flex-center-column;
//             justify-content: end;
//             border-radius: 34px;
//             border: 1px solid hsla(0, 0%, 60%, 0.5);
//             background: none;
//             width: min-content;
//             height: 500px;
//             box-shadow: 0 0 5px 2px hsla(0, 0%, 0%, 0.5);
//             overflow: hidden;
//             z-index: -1;

//             &:hover {
//                 .content {
//                     transform: translate(0, 0);
//                     opacity: 1;
//                     transition: transform 0.2s ease,
//                                 opacity 0.6s ease;
//                 }

//                 .blur-bg {
//                     bottom: 0;
// mask: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.99) 30%, rgba(255, 255, 255, 0.99) 70%, rgba(255, 255, 255, 0.99) 85%, rgba(255, 255, 255, 0.65) 95%, rgba(255, 255, 255, 0) 100%);
//                     backdrop-filter: blur(15px);
//                     transition: bottom 0.1s ease,
//                                 mask 0.5s ease,
//                                 backdrop-filter 0.5s ease;
//                 }
//             }

//             img {
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 z-index: -2;
//                 object-fit: cover;
//                 pointer-events: none;
//             }

//             .blur-bg {
//                 width: 100%;
//                 height: 50%;
//                 position: absolute;
//                 bottom: -25%;
//                 left: 0;
//                 backdrop-filter: blur(0px);
//                 z-index: 2;
//                 mask: none;
//                 transition: backdrop-filter 0.2s ease;
//             }

//             .active {
//                 width: 100%;
//                 height: 50%;
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//                 backdrop-filter: blur(0px);
//                 z-index: 2;
//                 mask: none;
//                 transition: backdrop-filter 0.2s ease;
//             }

//             .content {
//                 @include flex-center-column;
//                 align-items: flex-start;
//                 position: relative;
//                 width: 100%;
//                 gap: 15px;
//                 padding: 1rem 0.9rem;
//                 transform: translate(0, 50%);
//                 opacity: 0.2;
//                 transition: transform 0.2s ease,
//                             opacity 0.2s ease;
//                 z-index: 2;
//                 user-select: none;
//                 color: #ffffff;

//                 .username {
//                     @include flex-center;
//                     justify-content: flex-start;
//                     gap: 5px;

//                     h2 {
//                         font-size: 1.8rem;
//                     }
//                 }

//                 .description {
//                     font-size: 1.2rem;
//                     @include flex-center;
//                     flex-direction: column;
//                     align-items: flex-start;

//                     P {
//                         &:nth-child(1) {
//                             opacity: 0.5;
//                         }
//                     }
//                 }

//                 .social {
//                     width: 100%;
//                     @include flex-center;
//                     justify-content: flex-start;
//                     gap: 15px;
//                     padding-top: 1rem;

//                     .followers,
//                     .posts {
//                         @include flex-center;
//                         gap: 5px;
//                         font-weight: 600;
//                         font-size: 0.8rem;

//                         span {
//                             font-size: 1.5rem;
//                         }
//                     }

//                     button {
//                         width: min-content;
//                         @include flex-center;
//                         justify-content: space-between;
//                         gap: 5px;
//                         font-size: 1.2rem;
//                         padding: 0.8rem 1.5rem;
//                         border-radius: 100px;
//                         border: none;
//                         background-color: hsla(0, 0%, 95%);
//                         cursor: pointer;
//                         box-shadow: 0 0 5px hsla(0, 0%, 95%, 0.3);
//                         transition: background-color 0.2s ease-in-out;

//                         span {
//                             pointer-events: none;
//                         }

//                         &:hover {
//                             background-color: hsla(0, 0%, 80%);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }